#desc_wrap{
  position: relative;
}
#characterCount{
  position: absolute;
  right: 20px;
  bottom: 7px;
  z-index:999;
  color: #ccc;
}
#submitLoading{
  position: absolute;
  display: none;
  left: 42%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  animation: spin 3s infinite linear;
}